<h1>User Page</h1>
<%= render partial: 'admin/shared/user', locals: {user: @user} %>
<% if @user.unverified? %>
  <%= link_to('Approve', admin_user_approvals_path(@user), method: :post) %>
<% else %>
  <%= link_to('Revoke', admin_user_approvals_path(@user), method: :delete) %>
<% end %>
<% if @user.admin? %>
  <%= link_to 'Revoke Aministrator', admin_user_administrator_path(@user), method: :delete %>
<% else %>
  <%= link_to 'Make Administrator', admin_user_administrator_path(@user), method: :post %>
<% end %>

